@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background: url(../img/imagem-hearder-cortada.png) center center no-repeat;
    background-size: cover;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.372);
    z-index: 50;
    height: 90vh;
}


header menu {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: flex;
    border-radius: 5px;
    width: 85%;
    height: 50px;
}

header menu h1 {
    color: blue;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 50px;
    width: 38%;
    margin-left: 2%;
}

header menu div#links {
    display: flex;
    flex-basis: auto;
    justify-content: space-around;
    width: 60%;
}

header menu a {
    color: black;
    font-size: 1.1em;
    text-decoration: none;
    line-height: 50px;
    width: 60px;
}
header menu a:hover {
    font-size: 1.2em;
}



.extensão-do-header {
    display: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 79px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 100px;
}