@charset "UTF-8";

/* Estilo Geral */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

